@page "{id:int}"
@model Daedalic.ProductDatabase.Releases.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Release</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.GmcDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.GmcDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Platform.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Store.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Languages)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var language in Model.Release.Languages)
                {
                    <text>@language.Language.Name</text> <br />
                }
            }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Release.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
