@page
@model Daedalic.ProductDatabase.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.DeveloperId" class="control-label"></label>
                <select asp-for="Game.DeveloperId" class="form-control" asp-items="ViewBag.DeveloperId">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Game.GenreId" class="control-label"></label>
                <select asp-for="Game.GenreId" class="form-control" asp-items="ViewBag.GenreId">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Game.AssetIndexProjectId" class="control-label"></label>
                <input asp-for="Game.AssetIndexProjectId" class="form-control" />
                <span asp-validation-for="Game.AssetIndexProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.SupportedLanguages" class="control-label"></label>
                <div class="table">
                    <table>
                        <tr>
                            <th></th>

                            @{
                                foreach (var languageType in Model.LanguageType)
                                {
                                    @:<th>
                                        @languageType.Name
                                    @:</th>
                                }
                            }
                        </tr>

                        @{
                            foreach (var language in Model.Language)
                            {
                                @:<tr>
                                    @:<th>
                                        @language.Name
                                    @:</th>


                                    foreach (var languageType in Model.LanguageType)
                                    {
                                        @:<td>
                                            <input type="checkbox"
                                                   name="newSupportedLanguages"
                                                   value="@language.Id @Html.Raw("/") @languageType.Id"
                                                   @(Html.Raw(Model.Game.SupportedLanguages.Any(l => l.LanguageId == language.Id && l.LanguageTypeId == languageType.Id) ? "checked=\"checked\"" : "")) />
                                        @:</td>
                                    }
                                @:</tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
