@page "{id:int}"
@model Daedalic.ProductDatabase.Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.AssetIndexProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.AssetIndexProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Developer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.SupportedLanguages)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var language in Model.Game.SupportedLanguages)
                {
                    <text>@language.Language.Name (@language.LanguageType.Name)</text> <br />
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.ImplementedLanguages)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var language in Model.Game.ImplementedLanguages.Where(il => Model.Game.SupportedLanguages.Select(sl => sl.Language).Any(sl => sl.Id == il.LanguageId)))
                {
                    <text>@language.Language.Name: @language.LanguageStatus.Name</text> <br />
                }
            }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Game.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
