@page "{id:int}"
@model Daedalic.ProductDatabase.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.AssetIndexProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.AssetIndexProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Developer.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
