@page
@model Daedalic.ProductDatabase.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <input type="text" asp-for="Filter" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                @if (!string.IsNullOrEmpty(item.AssetIndexProjectId))
                {
                    @Html.Raw("|") <a href="@string.Format(Model.AssetIndexUrl, item.AssetIndexProjectId)" target="_blank">Asset Index</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
