@page
@model Daedalic.ProductDatabase.RemoveReleaseFromGroupModel
@{
    ViewData["Title"] = "Remove Release From Group";
}

<h1>Remove Release From Group</h1>

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>Release In Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release.Platform) / @Html.DisplayNameFor(model => model.Release.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release.Platform.Name) @Html.DisplayNameFor(model => model.Release.Store)
        </dd>
        <dt class="col-sm-2">
            Release Group
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseGroup.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" id="releaseId" name="releaseId" value="@Model.Release.Id" />
        <input type="hidden" id="groupId" name="groupId" value="@Model.ReleaseGroup.Id" />

        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
